// Global
*{
  all: unset;
}

// Variable Color's
$background: #1A1B26;
$foreground: #A9B1D6;

$black: #24283B;
$gray: #565F89;
$red: #F7768E;
$green: #73DACA;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: $foreground;

// EWW BAR
.bar{
  border-radius: 15;
  background-color: rgba(26, 27, 38, 0.5);
  padding: 0 1rem;
}

.logo {
    color: $green;
    font-size: 2.5em;
    padding: 0 .8rem 0 .2rem;
}

.workspaces {
    font-family: "SF Pro";
    padding: .2rem .7rem;
    background-color: $black;
    border-radius: 10px;
    color: $gray;
}

.workspace-entry {
    margin: .35rem 1rem;
    font-size: 1.25em;
    font-weight: bold;
    color: $foreground;
}

.current {
    color: $red;
}

.time {
    font-family: "SF Pro";
    font-weight: bold;
    font-size: 1.2em;
    background-color: $white;
    color: $black;
    border-radius: 15px;
    padding: .2rem 1rem;
    margin: .5rem;
}

.powermenu {
    font-family: SF Pro;
    font-size: 1.4em;
    font-weight: bold;
}

.button-reboot, .button-off, .button-lock {
    padding: .5rem .2rem .3rem .2rem;
}
.button-reboot {
    color: $yellow;
    font-size: 1.4em;
    // margin-right: .5rem;
}
.button-off {
    color: $red;
    margin-left: .5rem;
}

.button-lock {
    color: $magenta;
    font-size: 1.3em;
    margin-right: .5rem;
}

.control {
    font-family: Material Icons;
    font-size: 1.6em;
    border-radius: 15px;
    margin: .35rem 0;
}

.battery {
    font-family: JetBrainsMono Nerd Font;
    font-size: 1.2em;
    margin: 0 1rem .2rem .5rem;
    color: $blue;
}

.brightness-icon{
    margin: 0 .2rem;
    color: $yellow;
}

scale trough {
    all: unset;
    background-color: $background;
    border-radius: 5px;
    min-height: 10px;
    min-width: 80px;
    margin: 0 .3rem;
}
.brightbar trough highlight {
    background-color: $yellow;
    border-radius: 5px;
}

.volume-icon{
    margin: 0 .4rem;
    font-size: 1.4em;
    color: $green;
}

.volbar trough highlight {
    background-color: $green;
    border-radius: 5px;
}

.calendar-box {
  background-color: rgba(26, 27, 38, 0.5);
  font-family: SF Pro;
  font-size: 1em;
  font-weight: bold;
  border-radius: 15px;
  border: 2px solid $white;

  .calendar-inner-box {
      padding: 1rem 1rem .2rem;

      .calendar {
          &.highlight {
              padding: 10rem;
          }

          padding: .8rem .25rem 0rem;
          margin-left: 10px;
      }
  }
}

calendar:selected {
    color: $red;
}

calendar.header {
    color: $blue;
    font-weight: bold;
}

calendar.button {
    color: $magenta;
}

calendar.highlight {
    color: $magenta;
    font-weight: bold;
}

calendar:indeterminate {
    color: $gray;
}

.weather {
    font-family: "SF Pro";
    font-weight: bold;
    color: $blue;
    font-size: 1.2em;
    padding: .5rem 1rem;
    background-color: rgba(86, 95, 137, 0.3);
    border-radius: 15px;
    border: 2px solid $black;
}

.cpu-graph {
    font-family: "SF Pro";
    font-weight: bold;
    color: $blue;
    font-size: 1.2em;
    padding: .2rem;
    margin: .5rem 0 .5rem 1rem;
    background-color: rgba(86, 95, 137, 0.3);
    border: 2px solid $black;
    border-radius: 5px;
}

.cpu-graph-inner {
    background-color: $red;
}

tooltip.background {
    font-family: "SF Pro";
    font-weight: bold;
    background-color: $background;
    font-size: 1.2em;
    border-radius: 5px;
    border: 2px solid $white;
    color: $white;
}

tooltip label {
    margin: 6px;
}

.music-cover {
    background-size: cover;	
	background-position: center;
	min-height: 24px;
	min-width: 24px;
	margin: 10px;
	border-radius: 10%;
}

.music-title {
    color: #a1bdce;
	font-size : 1.2em;
	font-weight : bold;
	margin : 3px 5px 0px 0px;
}

.activewindow {
    font-family: "SF Pro";
    font-weight: bold;
    font-size: 1.2em;
    color: #a1bdce;
}

.activewindow-arrow {
    margin: 0 1rem;
    font-size: 2rem;
}
