*{
    font-family: MesloLGS NF;
}

window {
    margin: 5px;
    border-radius: 30px;
    background-color: #7aa2f7;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    border-bottom: 0px solid #24283b;
    background-color: #a9b1d6;
    color: #1a1b26;
    border-radius: 10px;
}

#inner-box {
    margin: 5px;
    background-color: #1a1b26;
    color: #565f89;
}

#outer-box {
    margin: 5px;
    padding: 20px;
    background-color: #1a1b26;
    border-radius: 25px;
}

#scroll {
    
}

#text {
    margin: 5px;
    color: #565f89;
    /* border: 2px solid cyan; */
    /* background-color: cyan; */
}

/* #entry:nth-child(even){
    background-color: #404552;
} */

#entry:selected {
    background-color: #24283b;
    border-radius: 10px;
    color: #a9b1d6;
}

#text:selected {
    color: #a9b1d6;
    text-decoration-color: #a9b1d6;
}

